@import "tailwindcss";

:root {     /* light mode variables */
  --background: var(--color-slate-50);
  --text: var(--color-zinc-950);
  --primary: var(--color-orange-600);
}

html.dark { /* dark mode variables */
  --background: var(--color-zinc-900);
  --text: var(--color-slate-50);
  --primary: var(--color-orange-600);
}

html, main, body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hover-accent {
  @apply hover:text-[var(--primary)] transition-colors duration-300;
}

.animate-typing {
  font-family: "Fira Code", monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black; /* cursor */
  width: 0;
  animation: typing 2s steps(15, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 15.25ch } /* adjust based on name length */
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black }
}
