@import "tailwindcss";

:root {     /* light mode variables */
  --background: #ffffff;
  --text: #1e293b;
  --primary: #2563eb;
}

html.dark { /* dark mode variables */
  --background: #0f172a;
  --text: #e2e8f0;
  --primary: #60a5fa;
}

html, main, body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hover-accent {
  @apply hover:text-orange-600 transition-colors;
}

.animate-typing {
  font-family: "Fira Code", monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black; /* cursor */
  width: 0;
  animation: typing 2s steps(15, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 15.25ch } /* adjust based on name length */
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black }
}
